<footer class="footer sm:footer-horizontal bg-amber-400 text-base-content p-10">
    <aside>
        <p>
            Industria de zapatosde SportGT.
            <br />
            Localida en Alta Verapaz, desde 1992
            <br />
            brindando nuestros servicios.
        </p>
    </aside>
    <nav class="">
        <h6 class="footer-title ">Services</h6>
        <a class="link link-hover">Inicio</a>
        <a class="link link-hover">Nosotros</a>
        <a class="link link-hover">Proveedores</a>
        <a class="link link-hover">Contacto</a>
    </nav>
</footer>
